div {
    text-align: left;
    color: rgb(14, 38, 117);
    position: absolute;
    left: 25%;
    width: 50%;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 10px lightgray;
    border-radius: 10px;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

label {
    display: block;
    font-size: 25px;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 50px;
    font-size: 20px;
}

::placeholder {
    font-size: 18px;
    color: rgba(14, 38, 117, 0.589);
}

#print {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(14, 38, 117);
    color: white;
}

#print:hover {
    cursor: pointer;
    border: 1px solid rgb(14, 38, 117);
    background-color: white;
    color: rgb(14, 38, 117);
}

form {
    margin: 20px 0px 50px 0px;
}

p {
    font-size: 20px;
    color: black;
}
